

@media (min-width: 1600px) {
    .caruselContent {
        .caruselDiscount {
            max-width: 1595px;
        }

    }
}


@media (max-width: 1600px) and (min-width: 1206px) {
    .caruselContent {
        .caruselDiscount {
            max-width: 1185px;
        }

    }
}


@media screen and (max-width: 1205px) and (min-width: 830px) {
    .caruselContent {
        .caruselDiscount {
            max-width: 805px;
        }

    }
}


@media screen and (max-width: 829px) {
    .caruselContent {
        .caruselDiscount {
            max-width: 405px;
        }

    }
}