
.fullCartDiv {

    color: white;

    .cartRow {
        display: flex;
        flex-direction: row;

        > div {
            border: 1px solid white;
            padding: 10px;
        }
    }









}