
	.animateMenu {
		position: relative;

		.mainIcon {
			padding: 15px 0;
			cursor: pointer;
		}

		&:hover {

			.downMenu {
				display: block;

				.it {
					top: 0px;
					transition: 0.7s;

					&:not(.main) {
						padding: 25px;
						left: -8px;
						border: 1px solid #e4e0e0;
					}


					&:nth-child(1) { top:50px;  /*animation: menuDown1 1s ; animation-delay: 0.1s;*/  transition-delay: .1s;}
					&:nth-child(2) { top:120px; /*animation: menuDown2 1s ; animation-delay: 0.3s;*/  transition-delay: .3s;}
					&:nth-child(3) { top:190px; /*animation: menuDown3 1s ; animation-delay: 0.5s;*/  transition-delay: .5s;}
					&:nth-child(4) { top:260px; /*animation: menuDown4 1s ; animation-delay: 0.7s;*/  transition-delay: .7s;}
					&:nth-child(5) { top:330px; /*animation: menuDown5 1s ; animation-delay: 0.9s;*/  transition-delay: .9s;}
				}
			}
		}


		.downMenu {
			position: absolute;
			top: 0%;
			left: 0%;

			.it {
				padding: 15px;
				border-radius: 45%;
				position: absolute;
				top: 0px;
				left: -30%;

				&.main {
					background-color: #2a2a31;
					border: 1px solid #2a2a31;
				}

				&.down {
					background-color: #3a2c48;
					border: 0px solid #e4e0e0;
				}

				&:hover:not(.main) {
					z-index: 6;
					box-shadow: 0 0 3px 3px rgb(161, 146, 146);
					background-color: black;
				}
			}
		}



		img {
			width: 30px;
			height: 30px;
		}
	}
