

@media screen and (max-width: 700px){

    .hero {
        margin-top: -10px;

        .sub-headline {

            .first-letter {
                font-size: 14vw;
            }
            font-size: 11vw;
        }

        .headline {
            font-size: 5vw;
        }

        .separator {
            .asterisk {
                font-size: 3vw;
            }

            .line-left::before { border: 0.9vw solid transparent; border-left-color: black; }
            .line-right::before { border: 0.9vw solid transparent;  border-right-color: black;}



            .line {
                max-width: 26vw;
                height: .5vw;
            }
        }

        .headline-description {
            .single-animation {
                h5 {
                    font-size: 4.7vw;
                }

                a {
                    font-size: 2.7vw;
                    padding: 2.5vw 5vw;
                }

            }
        }


    }
}


@media screen and (min-width: 900px) {


    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item {
        margin: 0 2.4rem;
        border: none;

    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .active {
        position: relative;
    }


    .active::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    .sub-headline {
        font-size: 7.5rem !important;
    }

    .first-letter {
        font-size: 10.3rem !important;
    }

    .headline {
        font-size: 3.5rem !important;
    }


    .restaurant-info {
        display: flex;
        align-items: center;

    }

    .restaurant-info > div {
        flex: 1;
    }

    .padding-right {
        padding-right: 7rem;
    }

    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer-content-divider {
        display: flex;
        justify-content: space-between;

    }

    .social-icons i{
        opacity: 1;
    }

    .newsletter-btn {
        margin-left: 14.5rem;
    }

}