

body {
    line-height: inherit;
   // background-color: #363434;
    box-sizing: border-box;
    min-width: fit-content;
    //margin: 5px;

    //background-image: url("/public/img/electphoto0.jpg");


}
