.caruselContent {
    //margin-top: 30px;
    //margin-bottom: 30px;

    .header1 {
        padding: 60px 0 150px 0;
        font-size: 45px;
        font-weight: bold;
        color: #ffa8a8;
        text-align: center;
        text-shadow: 3px 2px #FF0000;
        background-color: #4e1515;
        background-image: linear-gradient(#023a6d,  #4e1515);
    }

    .caruselDiscount {

        max-width: 1595px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: -95px;
        margin-bottom: -95px;

        .prodCont {
            width: 100%;
            width: 1280px;
            display: flex;
            overflow: hidden;
            position: relative;


        }


        .btnNext {
            width: 140px;
            height: 380px;
            //background-color: rgb(139, 117, 117);
            margin: 0px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            &:hover {
                background-color: rgba(0,0,0, 0.2);
            }


        }

    }

}