
.loader {
    width: 100%;
    height: 100vh;
    background-color: #2e2e2e;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 125;

    &.hidden {
        //display: none;
        animation: hidding2 1s linear forwards;

        @keyframes hidding2 {
            0% { opacity: 1; }
            100% { opacity: 0; display: none; }
        }

    }


    .loadingDiv {
        width: 90px;
        display: flex;
        flex-wrap: wrap;

        span {
            width: 36px;
            height: 36px;
            background-color: red;
            margin: 4px;
            animation: loaderScale 1.6s linear infinite;

            &:nth-child(1) { background-color: aqua; transform-origin: bottom right; animation-delay: 0.5s; }
            &:nth-child(2) { background-color: rgb(234, 255, 0); transform-origin: bottom left;animation-delay: 1s; }
            &:nth-child(3) { background-color: blueviolet; transform-origin: top right;animation-delay: 1.5s;}
            &:nth-child(4) { background-color: rgb(236, 177, 87); transform-origin: top left;animation-delay: 2s;}

            @keyframes loaderScale {
                50% { transform: scale(1.2); }
            }
        }


    }










}