@media (min-width: 1321px) {

    .bgImg {
        .text2 {
            width: 31%;
            top: 20%;
            font-size: 32px;
            flex-direction: column;

            .itek {

                > div.it {
                    padding: 25px 30px 25px 0;
                    text-align: right;
                }

                /*&.ac .pip {
                    background-color: #0e0e0e;
                    border: 1px solid #252525;
                    height: 75px;
                }*/
            }
        }

        .text3 {
            width: 36%;
            top: 20%;
            .itek {
                > div.it {
                    padding: 25px 40px;
                    .title {
                        font-size: 36px;
                    }

                    font-size: 18px;
                    line-height: 29px;
                }
            }
        }
    }


}


@media (min-width: 1071px) and (max-width: 1320px){

    .bgImg {
        .text2 {
            width: 31%;
            top: 20%;
            font-size: 32px;
            flex-direction: column;

            .itek {

                > div.it {
                    padding: 25px 30px 25px 0;
                    text-align: right;
                }

                /*&.ac .pip {
                    background-color: #0e0e0e;
                    border: 1px solid #252525;
                    height: 75px;
                }*/
            }
        }

        .text3 {
            width: 38%;
            top: 20%;
            .itek {
                > div.it {
                    padding: 25px 40px;
                    .title {
                        font-size: 36px;
                    }

                    font-size: 17px;
                    line-height: 25px;
                }
            }
        }
    }
}


@media screen and (max-width: 1070px) and (min-width: 951px) {
    .bgImg {
        .text2 {
            width: 31%;
            top: 20%;
            font-size: 30px;
            flex-direction: column;

            .itek {

                > div.it {
                    padding: 25px 20px 25px 0;
                    text-align: right;
                }

                /*&.ac .pip {
                    background-color: #0e0e0e;
                    border: 1px solid #252525;
                    height: 75px;
                }*/
            }
        }

        .text3 {
            width: 40%;
            top:18%;
            .itek {
                > div.it {
                    padding: 25px 40px;
                    .title {
                        font-size: 30px;
                    }

                    font-size: 18px;
                    line-height: 23px;
                }
            }
        }
    }
}


@media screen and (min-width: 780px) and (max-width: 950px) {
    .bgImg {
        .lorem {
            padding-top: 200px;
        }

        .text2 {
            width: 38%;
            font-size: 20px;
            flex-direction: column;
            top: 20%;

            .itek {
                align-items: center;
                > div.it {
                    padding: 25px 0px 25px 0;
                    text-align: center;
                }

                /*&.ac .pip {
                    background-color: #0e0e0e;
                    border: 1px solid #252525;
                    height: 75px;
                }*/
            }
        }

        .text3 {
            width: 40%;
            top: 18%;
            .itek {

                > div.it {
                    padding: 20px 30px;
                    .title {
                        font-size: 30px;
                    }

                    font-size: 17px;
                    line-height: 22px;
                }
            }
        }
    }
}


@media screen and (min-width: 500px) and (max-width: 779px) {
    .bgImg {
        .text2 {
            width: 93%;
            font-size: 15px;
            flex-direction: row;

            .itek {
                align-items: center;
                width: 25%;
                margin-left: 2px;
                height: 70px;

                > div.it {
                    text-align: center;
                    //padding: 25px 0px 25px 0;

                }
            }
        }

        .text3 {
            width: 93%;
            bottom: 2%;
            //background-color:  rgba(0, 0, 0, 0.65);

            .itek {
                > div.it {
                    padding: 20px 30px;
                    .title {
                        font-size: 30px;
                    }

                    font-size: 17px;
                    line-height: 25px;
                }
            }
        }
    }
}


@media screen and (max-width: 499px) {
    .bgImg {
        margin-top: -235px;
        .text2 {
            width: 93%;
            top: 29%;
            font-size: 15px;
            flex-direction: row;

            .itek {
                width: 25%;
                height: 70px;
                align-items: center;
                > div.it {

                    //padding: 25px 0px 25px 0;
                }
            }
        }

        .text3 {
            width: 93%;
            bottom: 4%;
            //background-color:  rgba(0, 0, 0, 0.65);

            .itek {
                > div.it {
                    .title {
                        font-size: 25px;
                    }

                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    }
}