

.topnav {

	display: flex;
	flex-wrap: wrap;
	padding: 0px 5px 0 0;
    position: relative;
    background-color: #2a2a31;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 15px;
	box-shadow: 0px 0px 7px 5px #191717;
	transition: 0.5s;


	&:hover { box-shadow: 0px 0px 9px 7px #1a1919; }

	.logo, .item {
		a { text-decoration: none; color: white; }
		padding: 20px 0;
		border: 0px solid red;
		margin: 2px 3px;
		box-sizing: border-box;
		text-align: center;
		font-weight: bold;
		z-index: 5;
		position: inherit;
	}


	.logo { width: 130px;}
	.item1 { width: 85px;}
	.item2 { width: 125px;}
	.item3 { width: 125px;}
	.item4 { width: 150px;	position: relative; }
	.item5 { width: 47%;} /* max- */
	.item6 { width: 150px; }
	.logging { width: 85px;}
	.animateMenu { width: 70px;}


	.logo {
		background-color: black;
		margin: 0px;
		border-radius: 15px 0 0 15px;
		letter-spacing: 1px;
	}

	.item {
		color: white;
		border: 1px solid inherit;

        &.active a, &.active { font-weight: bold;}

		&:hover {text-decoration: underline;}
	}

	@import 'Navbar_logging.scss';


	.item3 {

		&:hover {
			.dropdown .dropdown-content {
				display: block;
			}
		}

		@import 'Navbar_dropdown.scss';

	}


	@import 'Navbar_animateMenu.scss';
	@import 'Navbar_cart.scss';


    .slide {
		transition: .5s;
		position: absolute;
        top: 0px;
        //left: 0px;
        display: inline-block;
        background-color: #ce4242;
        width: 150px;
        height: 62px;
        opacity: 1;
		z-index: 2;

        &.slide200 { left: 130px; width: 95px; }
        &.slide400 { left: 215px; width: 140px; }
        &.slide600 { left: 350px; width: 130px; }
        &.slide800 { left: 475px; width: 170px; }

	}

}

