@media (min-width: 1001px) {
    .topnav {
        //flex-wrap: nowrap;



    }

    .bgImg {
        margin-top: -90px;
    }
}


@media (min-width: 411px) and (max-width: 1000px) {

    .topnav {



    }

    .bgImg {
        margin-top: -165px;
    }

}

@media (max-width: 410px) {

    .topnav {

    }

    .bgImg {
        margin-top: -165px;
    }

}