
.dropDown {
    display: none;

    &.active { display: flex;}

    position: absolute;
    top: 100%;
    left: -60%;
    width: 900px;

    .imgCont {
        background-color: #ce4242;
        border: 1px solid #ce4242;
        width: 440px;

        .imgDiv {
            img {
                width: 448px;
                height: 300px;
                padding: 3px;
            }
        }

        .downDiv {
            font-size: 15px;
            font-weight: normal;
            padding: 10px;
        }
    }


    .menuCont {
        background-color: #ce4242;
        width: 460px;
        padding: 3px 2px 0 2px;

        .butony {
            padding: 15px;
            button {
                margin-left: 20px;
            }
        }
    }

    .it {

        .name {
            padding-top: 5px;
            width: 330px;
        }

        .imageDiv {
            width: 100px;
        }

        padding: 12px;
        border-bottom: 1px solid white;
        display: flex;

        &.main {
            background-color: #ce4242;
            border: 1px solid #ce4242;
        }

        &.down {
            background-color: #ce4242;
            border: 1px solid #ce4242;
            border-bottom: 1px solid #bb2727;
        }

        &:hover:not(.main) {
            z-index: 6;
            background-color: black;
        }
    }
}
