.mainBg {
	overflow: hidden;
	background-image: url("/public/img/electphoto0.jpg");
}

.topnav {

	display: flex;
	flex-wrap: wrap;
	padding: 0px 5px 0 5px;
    position: relative;
	background-color: rgba(34, 34, 37, 0.46);
    box-sizing: border-box;
	margin: 15px -5px 0px -5px;
	box-shadow: 0px 0px 7px 5px #191717;
	transition: 0.5s;
	z-index: 5;


	&:hover {
		box-shadow: 0px 0px 9px 7px #ac0e4d;
		//background-color: #ac0e4d;
	}

	.logo, .item {
		a { text-decoration: none; color: white; }
		padding: 20px 0;
		border: 0px solid red;
		margin: 2px 3px;
		box-sizing: border-box;
		text-align: center;
		font-weight: bold;
		z-index: 5;
		position: inherit;
	}


	.logo { width: 130px;}
	.item1 { width: 85px;}
	.item2 { width: 125px;}
	.item3 { width: 125px;}
	.item4 { width: 150px;	position: relative; }
	.item5 { width: 45%;} /* max- */
	.item6 { width: 190px; }
	.logging { width: 85px;}
	.animateMenu { width: 70px;}


	.logo {
		background-color: black;
		margin: 0px;
		letter-spacing: 1px;
	}

	.item {
		color: white;
		border: 1px solid inherit;

        &.active a, &.active { font-weight: bold;}

		&:hover {text-decoration: underline;}
	}

	@import 'NavbarLogging.scss';


	.item3 {

		&:hover {
			.dropdown .dropdown-content {
				display: block;
			}
		}

		@import 'Navbar_dropdown.scss';

	}


	@import 'Navbar_animateMenu.scss';
	@import 'Navbar_cart.scss';


    .slide {
		transition: .5s;
		position: absolute;
        top: 0px;
        //left: 0px;
        display: inline-block;
        background-color: #ce4242;
        width: 150px;
        height: 62px;
        opacity: 1;
		z-index: 2;

        &.slide200 { left: 130px; width: 95px; }
        &.slide400 { left: 215px; width: 140px; }
        &.slide600 { left: 350px; width: 130px; }
        &.slide800 { left: 475px; width: 170px; }

	}

}

.bgImg {
	width: 100%;
    height: 750px;
	margin-top: -90px;
	position: relative;

	.lorem {
		padding-top: 100px;
		color: white;;
	}


	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
/*
		&.showing {
			animation-name: caruselShow;
			animation-duration: 3s;
		}

		&.hiding {

			animation-name: caruselShow2;
			animation-duration: 3s;
		}

		@keyframes caruselShow {from {opacity: 0;} to {opacity: 1;}}
		@keyframes caruselShow2 {from {opacity: 0;} to {opacity: 1;}}
		@keyframes caruselHide {from {opacity: 1;} to {opacity: 0;}}*/
	}

	.text1 {
		position: absolute;
		text-align: center;
		bottom: 0%;
		width: 100%;
		font-size: 45px;
		color: white;
		font-weight: bold;



		display: flex;
		flex-direction: row;


		> div {
			width: 33.3%;
			background-color: rgba(0, 0, 0, 0.76);
			padding: 10px 0;
			margin: 0px px 0 1px;
			border-top: 2px solid white;
			border-bottom: 2px solid white;
			cursor: pointer;


			&.midd {
				border-left: 2px solid white;
				border-right: 2px solid white;
			}

			&.selected {
				background-color: rgba(107, 49, 49, 0.76);
				animation-name: carusel;
				animation-timing-function: ease-out;
				animation-duration: 1s;
			}

			@keyframes carusel {from {opacity: 0;} to {opacity: 1;}}
		}
	}

}

