@media (min-width: 1071px) {

    .bgImg {
        .text2 {
            width: 27%;
            font-size: 45px;
            flex-direction: column;

            .itek {

                > div.it {
                    text-align: right;
                }
            }
        }

        .text3 {
            width: 33%;

            .itek {
                > div.it {
                    padding: 15px;
                    .title {
                        font-size: 36px;
                    }

                    font-size: 18px;
                    line-height: 29px;
                }
            }
        }
    }
}


@media screen and (max-width: 1070px) and (min-width: 951px) {
    .bgImg {
        .text2 {
            width: 27%;
            font-size: 30px;
            flex-direction: column;

            .itek {

                > div.it {
                    text-align: right;
                }
            }
        }

        .text3 {
            width: 40%;

            .itek {
                > div.it {
                    padding: 15px;
                    .title {
                        font-size: 30px;
                    }

                    font-size: 19px;
                    line-height: 27px;
                }
            }
        }
    }
}


@media screen and (min-width: 780px) and (max-width: 950px) {
    .bgImg {
        .lorem {
            padding-top: 200px;
        }

        .text2 {
            width: 38%;
            font-size: 20px;
            flex-direction: column;

            .itek {

                > div.it {
                    text-align: center;
                }
            }
        }

        .text3 {
            width: 40%;

            .itek {

                > div.it {
                    padding: 15px;
                    .title {
                        font-size: 30px;
                    }

                    font-size: 17px;
                    line-height: 26px;
                }
            }
        }
    }
}


@media screen and (min-width: 500px) and (max-width: 779px) {
    .bgImg {
        .text2 {
            width: 93%;
            font-size: 18px;
            flex-direction: row;

            .itek {

                > div.it {
                    text-align: center;
                }
            }
        }

        .text3 {
            width: 93%;
            bottom: 4%;
            background-color:  rgba(0, 0, 0, 0.65);

            .itek {
                > div.it {
                    .title {
                        font-size: 30px;
                    }

                    font-size: 17px;
                    line-height: 25px;
                }
            }
        }
    }
}


@media screen and (max-width: 499px) {
    .bgImg {
        margin-top: -235px;
        .text2 {
            width: 93%;
            top: 29%;
            font-size: 15px;
            flex-direction: row;

            .itek {

                > div.it {
                    text-align: center;
                }
            }
        }

        .text3 {
            width: 93%;
            bottom: 4%;
            background-color:  rgba(0, 0, 0, 0.65);

            .itek {
                > div.it {
                    .title {
                        font-size: 25px;
                    }

                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    }
}