
.filterDiv {
    background-color: #4a4858;
    padding: 240px 10px 50px 10px;
    display: flex;
    margin-bottom: 30px;

    >div {
        margin: 10px;
    }

    .companyFilter {
        width: 35%;
        label {color: white;}

        .form-control {
            background-color: #474850;;
            color: white;
            border: 1px solid #72a1d0;
        }

    }
    .priceFilter { width: 35%; label {color: white;}}


    .radioDiv {
        label { color: white; }
    }

}