

.divProduct {

    background-color: honeydew;
    border: 1px solid wheat;
    margin: 10px;
    padding: 12px;
    width: 485px;
    box-sizing: border-box;

    &.hov {
        box-shadow: 2px 6px 4px 2px #e6e0e0;
    }


    .head {
        border: 1px solid aquamarine;
        background-color: aquamarine;
        padding: 9px;
        text-align: center;
        font-size: 21px;
        letter-spacing: 1px;

        &:hover {
            background-color: red;
        }
    }

    .productImg {
        margin: 10px 0 15px 0;
        max-height: 490px;
        overflow: hidden;
        transition: 1s;

        &.hidden {
            max-height: 0px;
            
        }
    }

    .priceAdd {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .price {
            text-align: center;
            font-size: 19px;
        }

        .add {


            .added {
                border: 1px solid red;
                text-align: center;
                background-color: #ecc3c3;
                padding: 7px 4px;
            }


            button {
                width: 100%;
                background-color: yellowgreen;
                border: 1px solid greenyellow;
                border-radius: 10px;
                padding: 7px 20px 7px 20px;
            }
            
        }
    }


}