.divProduct {

.detailsInfo {
    position: absolute;
    bottom: -40%;
    right: 1%;
    width: 45%;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;



    .colorsDiv {

        color: rgb(94, 90, 90);
        font-size: 20px;
        text-align: center;

        .items {
            margin-top: 5px;
            display: flex;
            padding-left: 13%;
            padding-right: 13%;

            .it {
                width: 20%;
                .colorek {
                    height: 15px;
                    width: 15px;
                    margin-right: auto;
                    margin-left: auto;
                    border-radius: 9px;
                    &.red { background-color: red;}
                    &.green { background-color: green;}
                    &.black { background-color: black;}
                    &.yellow { background-color: yellow;}
                    &.blue { background-color: blue;}
                }


            }

        }

    }

    .info {
        margin-top: 10px;

        .name {font-size: 20px; color: rgb(0, 0, 0);}
        .info {font-size: 13px; color: rgb(204, 204, 167);}
        > div {
            margin-bottom: 10px;
            text-align: center;
        }

        .text {
            margin-top: 15px;
            background-color: #5a5869;
            color: white;
            padding: 8px;
            border: 1px solid rgb(136, 121, 94);
            border-radius: 5px;
            width: 65%;
            margin-left: 18%;

            &:hover {
                border: 1px solid rgb(167, 161, 149);
                cursor: pointer;
            }
        }
    }

}

&.hov {
    .detailsInfo {
        opacity: 1;
        bottom: 27%;
    }
}

}

@media screen and (max-width: 700px){
    .divProduct {

        &.hov {
            .detailsInfo {
                opacity: 1;
                bottom: 33%;
            }
        }


        .detailsInfo {



            .colorsDiv {
                font-size: 18px !important;
            }

            .info { font-size: 12px !important; }
            .name { font-size: 17px !important; }





            .info .text {
                padding: 3px;
            font-size: 12px;
        }




    }
    }



}








