
$addedColor: #cc9d9d;
$addedColorDark: #745656;

.divProduct{

    .btnCart {
        position: absolute;
        bottom: -66%;
        left: 5%;
        transition: 0.5s;
        transition-delay: 0.3s;
        width: 50%;
        cursor: pointer;
        padding: 0px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        display: flex;

        &:hover {
            &.hov {
                .name { background-color: #635ab6; }
                .image { background-color: #7e7d7d; }
            }
        }

        .name {
            width: 70%;
            padding: 13px 0 15px 0;
        }

        .image {
            width: 30%;
            padding: 11px 3px 0 0;
        }
    }

    &.hov {
        .btnCart {
            bottom: 6%;
        }
    }

    &.cl {
        .btnCart {
            bottom: 0%;
            left: 0%;
            width: 50%;
            border-top-right-radius: 20px;
            overflow: hidden;
        }
    }
}


@media screen and (max-width: 520px) {

    .divProduct {

        .btnCart {
            font-size: 4.5vw;

            .name {
                color: black !important;
                padding: 2.4vw 0 2.4vw 0;
            }

            .image {
                padding: 1.6vw 0 0 0 !important;

                img {
                    width: 6.3vw;
                    height: 6.3vw;
                }
            }
        }
    }

}



body.bright-theme {

    .divProduct {

        .btnCart {

            border: 0px solid rgb(218, 218, 218);
            color: white;
            border-radius: 10px;
            overflow: hidden;

            /*&:hover {
                .name {  background-color: #3a3946 !important; }
                .image { background-color: #191438 !important; }
            }*/

            .name {
                background-color: #6f68a9;
            }

            .image {
                background-color: #a2a2a2;
            }
        }

        &.hov {
            .btnCart {
            }
        }

        &.cl {
            .btnCart {

                .name {
                    background-color: $addedColor !important;
                }
                .image {
                    background-color: $addedColor !important;
                }
            }
        }
    }
}


body.dark-theme {

    .divProduct{

        .btnCart {
            border: 0px solid rgb(0, 0, 0);
            color: white;

            .name {
                background-color: #3a3a3a;
            }

            .image {
                background-color: #413c60;
            }

        }

        &.hov {
            .btnCart {

                .name {
                    background-color: #646060 !important;
                }
                .image {
                    background-color: #565555 !important;

                }
            }
        }

        &.cl {
            .btnCart {

                .name {
                    background-color: $addedColorDark !important;
                }
                .image {
                    background-color: $addedColorDark !important;

                }
            }
        }
    }

}