$addedColor: #b18d8d;

$addedColorBright: #cc9d9d;
$addedColorNight: #565555;


.divProduct {

    .detailsInfo {
        position: absolute;
        bottom: -40%;
        right: 1%;
        width: 45%;
        opacity: 0;
        transition: 0.5s;
        z-index: 2;



        .colorsDiv {
            font-size: 20px;
            text-align: center;

            .items {
                margin-top: 5px;
                display: flex;
                padding-left: 13%;
                padding-right: 13%;

                .it {
                    width: 20%;
                    .colorek {
                        height: 15px;
                        width: 15px;
                        margin-right: auto;
                        margin-left: auto;
                        border-radius: 9px;
                    }
                }

            }

        }

        .info {
            margin-top: 10px;

            > div {
                margin-bottom: 10px;
                text-align: center;
            }
        }

        .showDetailsBtn {
            display: flex;
            align-items: center;
            justify-content: center;

            .text {
                padding: 9px 14px;
                border-radius: 5px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }

    &.hov {

        .detailsInfo {
            opacity: 1;
            bottom: 27%;
        }

    }

    &.cl {

        .detailsInfo {
            opacity: 1;
            bottom: 27%;
        }

    }

}


@media screen and (max-width: 520px) {

    .divProduct {

        .detailsInfo {

            .colorsDiv {
                font-size: 4.3vw;
            }

            .info {
                .name { font-size: 3.5vw;}
                .info--info { font-size: 2.7vw;}
            }

            .showDetailsBtn {
                margin-top: 10px;

                .text {
                    padding: 1.5vw 3vw;
                    font-size: 3vw;
                }
            }

        }


    }

}


body.bright-theme {

    .divProduct {

        .detailsInfo {

            .colorsDiv {

                color: rgb(94, 90, 90);

                .items {

                    .it {
                        .colorek {
                            &.red { background-color: red;}
                            &.green { background-color: green;}
                            &.black { background-color: black;}
                            &.yellow { background-color: yellow;}
                            &.blue { background-color: blue;}
                        }
                    }

                }

            }



            .info {
                .name { color: rgb(0, 0, 0);}
                .info--info {color: rgb(79, 79, 79);}
                > div {
                }
            }

            .showDetailsBtn {

                .text {
                    background-color: #5a5869;
                    border: 1px solid rgb(136, 121, 94);
                    color: white;

                    &:hover {
                        border: 1px solid rgb(167, 161, 149);
                    }
                }
            }

        }

    }

    &.hov {

        .bgAddedColor {
            background-color: #5a5959;
        }

    }

    &.cl {

        .bgAddedColor {
            background-color: $addedColorBright
        }

    }
}

body.dark-theme {

    .divProduct {

        .detailsInfo {
            .colorsDiv {

                color: rgb(244, 244, 244);

                .items {

                    .it {
                        .colorek {
                            &.red { background-color: red;}
                            &.green { background-color: green;}
                            &.black { background-color: black;}
                            &.yellow { background-color: yellow;}
                            &.blue { background-color: blue;}
                        }
                    }

                }

            }

            .info {
                .name {color: rgb(252, 252, 252);}
                .info--info {color: rgb(196, 194, 194);}
                > div {
                }
            }

            .showDetailsBtn {

                .text {
                    background-color: #b3b3b6;
                    color: rgb(0, 0, 0);
                    border: 1px solid rgb(18, 18, 18);

                    &:hover {
                        border: 1px solid rgb(167, 161, 149);
                    }
                }
            }

        }

        &.hov {

            .bgAddedColor {
                background-color: #5a5959;
            }

        }

        &.cl {

            .bgAddedColor {
                background-color: $addedColorBright
            }

        }

    }

}