
@media (min-width: 471px) and (max-width: 520px) {
    .cartProductDiv {

        .detailsInfo .colorsDiv .items .it {
            margin: 4px 6px;
        }

    }
}


@media (min-width: 411px) and (max-width: 470px) {

    .cartProductDiv {

        .detailsInfo .colorsDiv .items .it {
            margin: 4px 5px;
        }

        .btnCart img {
            width: 27px;
            height: 27px;
        }

    }

}

@media  (min-width: 366px) and (max-width: 410px) {

    .cartProductDiv {

        .detailsInfo .colorsDiv .items .it {
            margin: 4px 4px;
            height: 11px;
        }

        .detailsInfo .info .text {
            font-size: 13px;
        }

        .btnCart .name {
            font-size: 13px;
        }

        .btnCart .image {
            padding: 6px 0 0 0;

            img {
                width: 26px;
                height: 26px;
            }
        }

    }

}



@media (max-width: 365px) {
    .cartProductDiv {

        .detailsInfo .colorsDiv .items .it {
            margin: 4px 4px;
            height: 10px;
        }

    }
}



@media screen and (max-height: 700px) {

    .cartProductDiv {
        height: 400px;



        .detailsInfo {
            bottom: 26% !important;

            .colorsDiv {
                font-size: 18px !important;

                .items {

                    .it {
                        .colorek {
                            height: 12px !important;
                            width: 12px !important;
                        }


                    }
                }
            }

            .info {
                margin-top: 2px !important;

                .name {
                    margin-bottom: 3px !important;
                }

                .info--info {
                    margin-bottom: 2px !important;
                }

            }
        }



    }


}





